<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= button_to "delete", destroy_user_session_path, :method => "delete" %>
<% end %>

<% @products.each do |product| %>
	<p> <%= product.name %> </p>
	<div class="max-w-sm rounded overflow-hidden shadow-lg">
		<%= image_tag product.image %>
		<div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">The Coldest Sunset</div>
			<p class="text-gray-700 text-base">
				<%= product.name %>
			</p>
		</div>
		<div class="px-6 pt-4 pb-2">
			<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
			<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
			<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
		</div>
	</div>
<% end %>